@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

body {
  background: #101114;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Roboto Flex", sans-serif !important;
  font-optical-sizing: auto !important;
  /* font-weight: 400; */
  /* font-size: 16px; */
  line-height: 1.5;
  letter-spacing: 0.15px;
  /* text-size-adjust: 100%; */
}

a, a:visited {
  color: #0088ff;
  text-decoration: none;
  margin-top: 5em;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 380px;
  text-wrap-mode: nowrap;
  /* overflow: hidden; */
}

/* skopiowane ze zbiorkomu */
.vehicleHeader {
  width: 451px;
  display: flex;
  align-items: center;
  gap: 6px;
  overflow: hidden;
  margin-bottom: 8px;
}

/* skopiowane ze zbiorkomu */
.vehicle {
  cursor: pointer;
  border-radius: 8px;
  padding: 1px 5px;
  display: flex;
  align-items: center;
  color: #fffc;
  box-shadow: 0 1px 10px #0000001f, 0 2px 4px -1px #0003;
}

/* ikonki autobusów tego potrzebują, whatever */
.css-f4328c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    flex-shrink: 0;
    fill: currentcolor;
    font-size: 1.2em;
    margin-right: 2px;
    transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}